### IDE ###
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.iml

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*testdb
db_*/
coverage.txt
coverage_unit.txt
coverage_integration.txt

# dependencies
vendor
go.sum

build
cmd/wavelet/testdb*
cmd/wavelet/wavelet
cmd/graph/main
cmd/benchmark/main
cmd/benchmark/benchmark
cmd/benchmark/wavelet
